<form name="adminUsersNFCForm" class="form-horizontal" novalidate>
       
 	<div class="form-group" >
          <label for="nfcuser" class="col-sm-2 control-label">Search by User </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nickname" placeholder="User Name" ng-model="User.nickname">
          </div>
   
   <div class="col-sm-2 ">&nbsp;</div>  
   <div id="UserList" class="col-sm-8"  ng-if="UserList.length" >				 
		  <table class="stat-table table-3 adminTable">
		  <thead>
             <tr>             	
                 <th>Nick Name</th> 
                 <th>User Email</th>  
                 <th>Select User</th>                                            
             </tr>
             </thead>
             <tbody>
              <tr ng-repeat="user in UserList | filter: User ">               	
                 <td>{{user.nickname}}</td> 
                 <td>{{user.email}}</td>                
                 <td><input type="checkbox" ng-model="user.checked" > </td>
             </tbody>             
		  </table>				
     </div>
      <div class="col-sm-2 mailButton" ><button type="button"  ng-click="getSelectedUserList(UserList)"  class="btn btn-primary">Send Mail</button></div>
      </div>
</form>
