
	<form name="changePwdForm"  class="form-horizontal" ng-submit="changepassword(credentials)" novalidate>
					<br />	
					<div class="form-group">
						<label for="email" class="control-label col-sm-3" >New Password :</label> 
						<div class="col-sm-9">
						<input type="password" class="form-control" id="password" placeholder="New Password" ng-model="credentials.password"
						   	validation-min-length="8" 
		            		validation-one-number="true" 
		            		validation-one-upper-case-letter="true" 
		            		validation-one-lower-case-letter="true"
							validation-field-required="true" 
							validation-no-space="true"    
						 />
						 </div>
					</div>

					<div class="form-group">
						<label for="email" class="control-label col-sm-3" >Confirm Password :</label>
						<div class="col-sm-9">
						<input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" ng-model="credentials.confirmpassword" 
		            		validation-field-required="true"	        				
		        			validation-confirm-password="true"	
						/>
						</div>
					</div>
					
					<div class="form-group">
			        	<div class="col-sm-offset-3 col-sm-9">
							 <button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
					
				</form>
